{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    <nav class="navbar">

        <div class="logo">
            <h2>
                ToDo App
            </h2>
        </div>


        <div class="nav-links">

            <div class="user-box">
                👤 Welcome, {{ request.user.username }}
            </div>

            <div class="complete-box">
                ✅ Completed: {{ completed_count }}
            </div>

            <a href="{% url 'logout' %}" class="logout-btn">
                Logout
            </a>

        </div>

    </nav>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

</body>

</html>